@-webkit-keyframes heading-highlighted-dash {
  0% {
    stroke-dasharray: 0 1500;
  }
  15% {
    stroke-dasharray: 1500 1500;
  }
  85% {
    opacity: 1;
  }
  90% {
    stroke-dasharray: 1500 1500;
    opacity: 0;
  }
  to {
    stroke-dasharray: 0 1500;
    opacity: 0;
  }
}
@keyframes heading-highlighted-dash {
  0% {
    stroke-dasharray: 0 1500;
  }
  15% {
    stroke-dasharray: 1500 1500;
  }
  85% {
    opacity: 1;
  }
  90% {
    stroke-dasharray: 1500 1500;
    opacity: 0;
  }
  to {
    stroke-dasharray: 0 1500;
    opacity: 0;
  }
}
.heading-highlighted-wrapper {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: visible;
    path {
      stroke: #333b69;
      stroke-width: 9;
      fill: none;
      stroke-dasharray: 1500;
      -webkit-animation: heading-highlighted-dash 10s infinite;
      animation: heading-highlighted-dash 10s infinite;
    }
  }
  display: inline-block;
  position: relative;
}
.heading-highlighted-text-active {
  position: relative;
}
.heading-highlighted-text {
  display: inline-block;
  white-space: nowrap;
  top: 0;
  left: 0;
}
