.ui-advanced-products {
  .uk-article-meta {
    line-height: 1.6;
    > span{
      &:not(:first-child) {
        &:before {
          content: "-";
          margin: 0 10px;
        }
      }
    }
  }
  .ui-post-thumbnail {
    img {
      width: 100%;
    }
  }
  .ui-post-tags {
    > a:not(:last-child) {
      margin-right: 8px;
    }
  }
  .ui-post-pagination {
    display: flex;
    justify-content: center;
    line-height: 1;
    > .page-numbers {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      width: 45px;
      height: 45px;
      margin: 0 2px;
      &.current, &:hover {
        background-color: #333333;
        color: #ffffff;
      }
    }
  }
  &.ui-visible{
    .uk-slider-container{
      &:after,&:before{
        content:"";
        position:absolute;
        height:100%;
        background: rgba(255,255,255,0.8);
        width:100%;
        z-index: 1;
      }
      &:before{
        left:-100%;
        top:0;
        margin-right:40px;
      }
      &:after{
        left:calc(100% - 1px);
        top:0;
        margin-left:40px;
      }
    }
    .uk-slidernav{
      z-index:2;
    }
  }
}