.ui-timeline {
  .ui-dateline {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10px;
      background-color: #ddd;
      width: 100%;
      height: 2px;
    }
  }
  .ui-timeline-date > a {
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 3px solid #333;
      border-radius: 50%;
      margin-top: 20px;
    }
    &.active {
      &:after {
        background-color: #fed23d;
      }
    }
  }
}
.templaza-widget-uitimeline{
  &.template-style1{
    .ui-timeline-inner{
      position:relative;
      &:before{
        content:"";
        width:1px;
        position:absolute;
        left:50%;
        top:0;
        bottom:0;
        background:#ccc;
      }
    }
    .line{
      &:before{
        position:absolute;
        width:10px;
        height:10px;
        border-radius:50%;
        padding:4px;
        border:1px solid #ccc;
        content:"";
      }
    }
    .frame-even{
      .line {
        &:before {

        }
      }
      .image-space{
        order:-1;

      }
    }
    .uitimeline-img{
      img{
        width:100%;
      }
    }
  }
}
@media screen and (max-width: 639.9px) {
  .templaza-widget-uitimeline{
    &.template-style1{
      .ui-timeline-inner{
        &:before{
          left:25%;
        }
        .tz-timeline-img-box{
          order:99;
        }
        .line{
          width:0 !important;
        }
        .frame-even,.frame-old{
          .ui-timeline-date{
            margin-left: 0 !important;
            margin-right:15px !important;
          }
        }
      }
      .timeframe_ontitle{
        .ui-timeline-inner{
          &:before{
            left:20px;
          }
        }
      }
    }
  }
}
